@using ornekSite.Entity
@model IEnumerable<Product>
<div id="myCarousel" class="carousel slide homCar">
    <div class="carousel-inner">
        <div class="item active">
            <img style="width:100%" src="~/Content/image/bnnr.jpg" alt="bootstrap ecommerce templates">
            <div class="carousel-caption">
                
                <p><span>Güvenli Alışverin Adresi</span></p>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="item">
                <a href="/Home/ProductDetails/@item.Id"> <img style="width:100%; max-width:698px; max-height:227px; min-height:327px; min-width:698px" src="~/Content/image/@item.image" alt="bootstrap ecommerce templates"> </a>
                <div class="carousel-caption">
                    <h4>@item.Name</h4>
                    <p><span>@item.Price (₺)</span></p>
                </div>
            </div>
        }


    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
