
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Kampanyayı Gör
    </button>
        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-img">KAMPANYA DETAYLARI</h2>
                    </div>
                    <form>
                        <div class="modal-body">
                            <h4>250₺ ve Üzeri Alışverişlerini için %40 İndirim Kodunu Kullanmayı Unutmayınız</h4>
                            <h1>İNDİRİM KODU:TN40</h1>
                            <br />
                            <button class="close" data-dismiss="modal">
                                Kapat
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    


